$addFontSize: 2.5rem;
$addWidth: 22rem;
$addLineheight: 1.5;

.dropdown-current {
  position: relative;

  div {
    transition: all 0.3s;
    cursor: pointer;
    background-color: #fff;
    border: solid #222 2px;
    font-size: $addFontSize;
    width: $addWidth;
    line-height: $addLineheight;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &.opened {
      background-color: #222;
      color: #fff;
    }
    .color-box {
      margin: 0 auto;
      width: 3rem;
      height: 3rem;
    }
  }

  ul {
    position: absolute;
    list-style-type: none;
    z-index: 10;
    .dropdown-li {
      cursor: pointer;
      background-color: #fff;
      border: solid #222 2px;
      font-size: $addFontSize;
      width: $addWidth;
      line-height: $addLineheight;
      transition: all 0.25s;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #222;
        color: #fff;
      }

      .color-box {
        margin: 0 auto;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
