.changeDate {
  display: flex;
  justify-content: space-evenly;
  height: 6rem;
  margin: 3rem 0 5rem;

  .number-input {
    button {
      font-size: 3rem;
      width: 3rem;
    }
    input {
      font-size: 4rem;
    }
  }
}
