$addFontSize: 2.5rem;
$addWidth: 20rem;
$addLineheight: 1.5;
$marginTop: 3rem;
$border: solid #000 3px;

ul.list-income,
ul.list-expense {
  min-height: 55rem;
  width: 50rem;
  list-style: none;
  font-size: $addFontSize;
  margin: $marginTop 0;
  display: flex;
  flex-direction: column;
  border: solid #000 4px;
  li {
    line-height: 1.4;

    &:last-child {
      border: none;
    }

    .type-value {
      padding: $marginTop 5%;
      text-transform: uppercase;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      transition: all 0.3s;

      &:hover {
        color: #fff;
        background-color: #000;
        cursor: pointer;
      }

      button {
        width: 8rem;
        height: 4rem;
        font-size: 1.5rem;
      }
    }

    .description {
      border-top: $border;
      border-bottom: $border;
      display: block;
      word-wrap: break-word;
      padding: 1rem;
    }
  }
}
