nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 5rem;

  .title {
    font-size: 7rem;
    font-weight: 700;
    margin-left: 5rem;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 4rem;
    font-weight: 600;
    width: 60rem;
  }

  .nav-link {
    text-decoration: none;
    color: #000;

    &:hover {
      color: #444;
    }
  }
}
