$addFontSize: 3.5rem;
$addWidth: 22rem;
$addLineheight: 1.5;
$marginTop: 4rem;

.add-stat {
  margin-top: $marginTop;

  h2 {
    font-size: 4.5rem;
    margin-bottom: 3rem;

    &:hover {
      color: #333;
      text-shadow: rgba(34, 34, 34, 0.3) 1px 1px 20px;
      cursor: pointer;
    }
  }

  form {
    display: flex;

    textarea {
      font-family: Inter;
      font-size: $addFontSize;
      line-height: 1.4;
      border: solid #222 3px;
      resize: none;
      margin-right: 1.5rem;
    }

    .type-and-value {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      input {
        font-size: $addFontSize;
        width: $addWidth;
        line-height: $addLineheight;
      }

      select {
        font-size: $addFontSize;
        width: $addWidth;
        height: calc($addFontSize * $addLineheight);
      }

      .number-input {
        width: $addWidth;
      }

      button {
        font-size: $addFontSize;
        width: $addWidth;
        line-height: $addLineheight;
      }
    }
  }
}
