.stats-loading {
  font-size: 10rem;
  font-weight: 700;
  text-align: center;
}

.stats {
  button {
    display: block;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 10rem;
    border-radius: 5%;

    &:hover {
      cursor: pointer;
      color: #eee;
      background-color: #111;
      transform: translateY(-0.1vh);
      box-shadow: 2px 2px 2px #0000004d;
    }
  }

  .stats-content {
    display: flex;
    justify-content: space-around;
  }
}
