$addWidth: 22rem;
.number-input {
  display: flex;
  input {
    display: block;
    text-align: center;
    width: calc($addWidth * 0.6) !important;
  }
  button {
    cursor: pointer;
    &:hover {
      background-color: #222;
      color: #fff;
    }
  }
}
