.checkbox-list {
  border-radius: 2%;
  width: 50rem;
  min-height: 55rem;
  border: solid #1414154b 3px;
  padding: 1rem;
  margin-bottom: 5rem;

  h2 {
    text-align: center;
    font-size: 4rem;
    margin: 3rem auto;
    width: 60%;
    cursor: pointer;

    &:hover {
      text-shadow: 2px 3px 3px #1414154b;
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;

    button {
      width: 32%;
      font-size: 2rem;
      font-weight: 700;
    }

    input {
      font-size: 2rem;
      width: 48%;
    }

    div {
      margin: auto 0;
    }
  }

  ul {
    li {
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: #000000c0 2px solid;
      cursor: pointer;

      &.color-title {
        padding: 3rem 0;
      }

      &.active {
        background-color: #1414159b;

        .title {
          color: #eee;
        }

        &:hover {
          .title {
            color: #1414159b;
          }
        }
      }

      &:hover {
        background-color: #d6d6d645;
      }

      .color {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        box-shadow: 1px 1px 5px #22222290;
        margin-left: 5%;
      }

      .title {
        color: #222;
        font-size: 4rem;
        margin-right: 2rem;
      }
    }
  }
}
